.footer {
    width: 100%;
    background-color: var(--color-black-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 6rem;
    border-top: 2px solid var(--color-primary-medium);;
}